body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: seagreen;
}

li {
  list-style-type: none;
}

li a {
  text-decoration-line: none;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

nav {
  background-color: lightblue;
  padding: 20px 50px;
}


img {
  margin-right: 10px;
  border-radius: 6px;
}

#wes {
  width: 200px;
  height: 200px;
}

.active{
  background-color: pink;
}

.references {
  background-color: lightgray;
  width:50%;
  margin: auto;
}